div.block_evasys {
	
	}
	
div.block_evasys .introduction {
	width:100%;
	text-align:center;
	}
div.block_evasys .evaluationlink {
	width:100%;
	text-align:center;
	}
div.block_evasys .description {
	width:100%;
	text-align:center;
	}			